body { font-family: Georgia, serif; }
h1, h2 {color:palevioletred;}
.evenrow{background-color: #CCCCFF;}
h1 {font-size: 5em;}
h2 {font-size: 3em;}

body {color: darkcyan}
body {background-color: #DFF2EB;}

a:link {
    color:darkmagenta;
}
a:visited {
    color: #CB80AB;
}

nav {background-color: #EECAD5;}
nav a {color: #D5ED9F;}
nav a:hover {background-color: #DC0083;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}

.quote {float: right;}
